.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    max-height: 400px;
    margin: 10px;
    padding: 20px;
    min-width: 100px;
    z-index: 1;
    width: 100%;
    background-color: #464848;
    color: #f8f8f8;
    border: 1px solid #212121;
    transition:transform 700ms;

}
.product h6{
    font-size: 15px;
}

.product__info{
    height: 100px;
    margin-bottom: 15px;
}
.product__price{
    margin-top: 5px;
}
.product__rating{
    display: flex;
}
.product > img{
    max-height: 200px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
}
.product img:hover{
    transform: scale(1.08);
    opacity: 9;
}
.product > button{
    background-color: #f0c14b;
    border: 1px solid;
    border-color: #a88734 #9c7e31 #846a29;
}
